<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Title</title>
  <style>
    body {
      background-color: #0c0e12;
      color: white;
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 40px;
    }
    div {
      display: flex;
      flex-direction: column;
      align-items: center
      margin: 50px;
    }
  </style>
</head>
<body>
  {% for cat in cats %}
  <div>
    <img src="{{cat}}" alt="">
    <p>{{ catscription[cats.index(cat)] }}</p>
  </div>
  {% endfor %}
</body>
</html>